@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.red {
  color: red;
}

body {
  margin : 0;
  background : #303030;
  color : white;
}
.title {
  text-align: center;
  margin-top: 50px;
}
.title-sub {
  text-align : center
}

.park {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.navbar{
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration:
  none;
}

.park1-img{
  width : 100%;
  margin: auto;
  height : auto;
}

.park2-img{
  width : 80%;
  margin: auto;
  height : auto;  
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
  margin-top: 50px;
  font-size: 25px;
} 

.mybtn {
  width: 100px;
  margin: auto;
  display: block;
  background-color: burlywood;
  margin-top: 100px;
}

.high {
  margin: 20px auto;
  margin-top: 100px;
  width: 500px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.green1-img{
  width : 9%;
  margin: 5px;
  height : auto;
}

.high1-img{
  width : 100%;
  margin: auto;
  height : auto;  
}


  .image-container {
    display: flex; /* 자식 요소를 플렉스 컨테이너로 설정 */
  }

  .green1-img {
    margin-right: 5px; /* 이미지 사이 간격 조절 */
  }

  .title-miss {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
  }

  .title-miss2 {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
  }
